:root[theme='dark'] {

    .form-check-input {
        border: 1px solid;
        border-color: $da-border-secondary;
        background-color: $da-font-secondary;

    }

    .form-check-label {
        color: $da-font-light;
        font-family: 'ProximaNova-bold';
        font-size: 15px;
    }
}