<div style="margin-top: 75px;" class="mb-4 mb-md-5 text-center">  
    <img src="assets/images/logo.png" alt="" height="28"> 
    <!-- <span class="logo-txt">Company Name</span>    -->
</div>
<div class="card" style="width: 28rem;height: 27rem;">
   <div class="card-header">
       <h4 class="heater">Login</h4>
       <div class="text">Enter the credentials to login the Platform.</div>
   </div>
   <form class="from_group">
       <div class="mb-3">
           <label for="exampleInputEmail1" class="form-label">Email address</label>
           <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address"
               aria-describedby="emailHelp">
       </div>
       <div class="mb-3">
           <label for="exampleInputPassword1" class="form-label">Password</label>
           <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
           <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
       </div>
       <div class="mb-3 form-check">
           <input type="checkbox" class="form-check-input" id="exampleCheck1">
           <label class="form-check-label" for="exampleCheck1">Remember Me</label>
           <a class="pass" href="">Forgot Password ?</a>
       </div>
       <div class="d-grid gap-2">
           <button class="btn btn-primary" type="button">LOGIN NOW</button>
       </div>
       <div class="account">Don`t have an account?
           <a class="create" href="">Create an Account</a>
       </div>
   </form>
</div>