.card{
    margin-left: 575px;
    margin-top: 150px;
}

.from_group{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.heater{
    margin-left: 165px;
    margin-top: 3px;
    font-family: 'ProximaNova-bold';
    font-size: 27px;
}
.text{
    margin-left: 58px;
    margin-bottom: 10px;
    font-family: 'ProximaNova-Regular';
    font-size: 15px;
}
.form-label{
    font-family: 'ProximaNova-bold';
    font-size: 15px;
}
.form-control{
    font-family: 'ProximaNova-Regular';
    font-size: 15px;
}
.form-check-label{
    font-family: 'ProximaNova-bold';
    font-size: 15px;
}
.pass{
    margin-left: 135px;
    font-family: 'ProximaNova-Regular';
    font-size: 15px;
}
.btn{
    font-family:'ProximaNova-Regular';
    font-size: 16px;
}
.account{
    margin-top: 20px;
    margin-left: 50px; 
    font-family:'ProximaNova-Regular'; 
    font-size: 14px;
}
.create{
    font-family:'ProximaNova-bold'; 
    font-size: 14px;  
}