.logo-txt{
    font-family: 'ProximaNova-bold';
    font-size: 23px;
}
.card{
    margin-left: 465px;
     
}
.card-header{
    background-color:white;
}
.from_group{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.heater{
    margin-left: 165px;
    margin-top: 3px;
    font-family: 'ProximaNova-bold';
    font-size: 27px;
    color: #C4C6E9;
}
.text{
    margin-left: 58px;
    margin-bottom: 10px;
    font-family: 'ProximaNova-Regular';
    font-size: 15px;
    color: #86879E;
}
.input-group-text{
    margin-top: -37px;
    margin-left: 345px
}
.pass{
    margin-left: 135px;
    font-family: 'ProximaNova-Regular';
    font-size: 15px;
    color: #86879E;
}
.account{
    margin-top: 20px;
    margin-left: 50px; 
    font-family:'ProximaNova-Regular'; 
    font-size: 14px;
    color: #86879E;
}
.create{
    font-family:'ProximaNova-bold'; 
    font-size: 14px;
    color: #5156BE;  
}