.form-check-input{
    border: 1px solid;
    border-color: $li-border-secondary;
    
}
.form-check-label{
    color:$li-font-dark;
    font-size: 'ProximaNova-bold'!important;
    font-size: 15px;
}
